<!DOCTYPE html>
<html>

<head>
  <title>About <%=shopName%>
  </title>
  <link rel="stylesheet" type="text/css" href="/about.css" />
</head>

<body>
  <section class="header">
    <nav>
      <a href="/"><img src="images/logo.PNG"></a>
      <div class="nav-links">
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/search">SEARCH</a></li>
          <li><a href="/addOutfit">ADD NEW OUTFIT</a></li>
          <li><a href="/list">LIST OUTFITS</a></li>
          <li><a href="/sale">SALE</a></li>
          <li><a href="/register">REGISTER</a></li>
          <li><a href="/eliminateuser">Eliminate User</a></li>
          <li><a href="/login">LOG IN</a></li>
          <li><a href="/logout">LOG OUT</a></li>
          <li><a href="/checkPrice">Check Price</a></li>
          <li><a href="/weather">WEATHER</a></li>
        </ul>
      </div>
    </nav>
    <div class="text-box">
      <h1>About <%=shopName%>
      </h1>
      <p>Welcome to OUTFITTERS, the epitome of sartorial elegance and self-expression. At OUTFITTERS, we believe that
        style is a language, a powerful form of communication that transcends words. Our mission is to empower
        individuals to embrace their uniqueness through fashion, providing a platform where trends meet personality. We
        curate a diverse range of outfits, ensuring that every visitor discovers a reflection of their distinct style.
        With a finger on the pulse of the latest fashion movements, our team of experts brings you curated collections
        that cater to all tastes and occasions. More than just a fashion destination, OUTFITTERS is a community where
        passion for style is celebrated. Join us on this exciting journey, where every click is an exploration of your
        fashion identity. Welcome to OUTFITTERS – where your style story begins.</p>
    </div>
  </section>
</body>

</html>