<!DOCTYPE html>
<html>

<head>
    <title>Exchange Rate Information</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <section class="header">
        <nav>
            <a href="/"><img src="images/logo.PNG"></a>
            <div class="nav-links">
                <ul>
                    <!-- <li><a href="">HOME</a></li> -->
                    <p><a href="/">HOME</a></p>
                    <p><a href="about">ABOUT</a></p>
                    <p><a href="search">SEARCH</a></p>
                    <p><a href="addOutfit">ADD NEW OUTFIT</a></p>
                    <p><a href="list">LIST OUTFITS</a></p>
                    <p><a href="sale">SALE</a></p>
                    <p><a href="register">REGISTER</a></p>
                    <p><a href="eliminateuser">Eliminate User</a></p>
                    <p><a href="login">LOG IN</a></p>
                    <p><a href="logout">LOG OUT</a></p>
                    <p><a href="checkPrice">Check Price</a></p>
                    <p><a href="weather">WEATHER</a></p>
                </ul>
            </div>
        </nav>
    </section>
    <div class="container">
        <h1>Exchange Rate Information</h1>
        <p>Base currency: <%= result.convert_result.base %>
        </p>
        <p>Target currency: <%= result.convert_result.target %>
        </p>
        <p>Exchange rate: <%= result.convert_result.rate %>
        </p>
        <p>Last update time: <%= result.time_update.time_utc %>
        </p>
    </div>
</body>

</html>


<!-- This is a price convesion for those who are buying from america in ENGLAND so you are able to convert the price accordingly and to check if you are getting a good deal -->