<html>

<head>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <h1>Eliminate a user for <%=shopName%>
    </h1>
    <form method="POST" action="/usereliminated">
        <p>Username: <input id="username" type="text" name="username" value="username" /></p>
        <input type="submit" value="Eliminate" />
    </form>
</body>

</html>