<!DOCTYPE html>
<html>
<!-- This is the top of the website, also connects all the css and htmls together -->

<head>
  <title>Welcome to <%=shopName%>
  </title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
  <section class="header">
    <nav>
      <a href="/"><img src="images/logo.PNG"></a>
      <div class="nav-links">
        <ul>
          <!-- <li><a href="">HOME</a></li> -->
          <p><a href="/">HOME</a></p>
          <p><a href="about">ABOUT</a></p>
          <p><a href="search">SEARCH</a></p>
          <p><a href="addOutfit">ADD NEW OUTFIT</a></p>
          <p><a href="list">LIST OUTFITS</a></p>
          <p><a href="sale">SALE</a></p>
          <p><a href="register">REGISTER</a></p>
          <p><a href="eliminateuser">Eliminate User</a></p>
          <p><a href="login">LOG IN</a></p>
          <p><a href="logout">LOG OUT</a></p>
          <p><a href="checkPrice">Check Price</a></p>
          <p><a href="weather">WEATHER</a></p>
        </ul>
      </div>
    </nav>
    <div class="text-box">
      <h1>WELCOME TO OUTFITTERS</h1>
      <p>Unleash your fashion prowess with curated outfits, trendsetting looks, and endless inspiration. Elevate your
        wardrobe, embrace individuality, and join the fashion revolution. <br> Start your stylish journey now!
      </p>
      <a href="" class="visit-button"> GIVE US A VISIT </a>
    </div>
  </section>
  <!-- Shopping -->
  <section class="shopping">
    <h1>FIND HERE</h1>
    <P>Find the best OUTFIT for you. Simply search for the occasion you want to dress for. The colour you desire. All
      within your budget</P>

    <div class="row">
      <div class="shopping-col">
        <h3>OCCASION</h3>
        <p>Dress for the correct occasion.</p>
      </div>
      <div class="shopping-col">
        <h3>COLOUR</h3>
        <p>Dress for the correct occasion.</p>
      </div>
      <div class="shopping-col">
        <h3>BUDGET</h3>
        <p>Dress for the correct occasion.</p>
      </div>
  </section>

  <section class="about-home">
    <h1> WHAT IS OUTFITTERS? </h1>
    <p>We are your helpers!!! We want to aid you find just the best outfit for your outing!</p>

    <div class="row">
      <div class="about-home-col">
        <img src="images/casual-fit.PNG">
        <div class="layer">
          <h3>CASUAL</h3>
        </div>
      </div>
      <div class="about-home-col">
        <img src="images/formal-fit.PNG">
        <div class="layer">
          <h3>FORMAL</h3>
        </div>
      </div>
      <div class="about-home-col">
        <img src="images/wedding-fit.PNG">
        <div class="layer">
          <h3>WEDDING</h3>
        </div>
      </div>
    </div>
  </section>

  <!-- OUR PRODUCTS -->
  <section class="products">
    <h1>OUR PRODUCTS</h1>
    <p>we sell all sorts bla bla bla</p>

    <div class="row">
      <div class="products-col">
        <img src="images/tops.png">
        <h3>TOPS</h3>
        <p> high quality ranges of t shirts, jackets, jumpers bla bla bla</p>
      </div>
      <div class="products-col">
        <img src="images/bottoms.jpg">
        <h3>BOTTOMS</h3>
        <p> high quality ranges of t shirts, jackets, jumpers bla bla bla</p>
      </div>
      <div class="products-col">
        <img src="images/shoes.png">
        <h3>SHOES</h3>
        <p> high quality ranges of t shirts, jackets, jumpers bla bla bla</p>
      </div>
    </div>
  </section>

  <!-- REVIEWS section -->
  <section class="reviews">
    <h1>Reviews from other Users</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique aliquid molestias, aut sequi ipsum eos ipsam
      ratione asperiores, in tenetur nisi veritatis debitis sunt iusto vero consequuntur explicabo magnam quia.</p>

    <div class="row">
      <div class="reviews-col">
        <img src="images/user-kawsar.jpeg">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, natus deleniti error laudantium
            aspernatur maiores nostrum laboriosam suscipit tempora repellat ab, expedita aperiam, eaque dolores omnis
            incidunt eius iure ipsum.
          </p>
          <h3>Kawsar Latif</h3>
        </div>
      </div>
      <div class="reviews-col">
        <img src="images/user-fahim.jpeg">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, natus deleniti error laudantium
            aspernatur maiores nostrum laboriosam suscipit tempora repellat ab, expedita aperiam, eaque dolores omnis
            incidunt eius iure ipsum.
          </p>
          <h3>Fahim Ahmed</h3>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact US-->
  <section class="contact">
    <h1>SIGN UP FOR MORE INFORMATION<br>WE ARE AVAILABLE 24/7</h1>
    <a href="" class="visit-button">CONTACT US</a>
  </section>
  <!-- Bottom of page Footer -->
  <section class="footer">
    <h4>CHECK OUT OUR SOCIAL MEDIAS</h4>
    <p>we are on<br>INSTAGRAM, FACEBOOK, TIKTOK</p>
    <p>Made by Reazul</p>
  </section>
</body>

</html>