<!DOCTYPE html>
<html>
<!-- This is the top of the website, also connects all the css and htmls together -->

<head>
  <title>Welcome to <%=shopName%>
  </title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
  <section class="header">
    <nav>
      <a href="/"><img src="images/logo.PNG"></a>
      <div class="nav-links">
        <ul>
          <!-- <li><a href="">HOME</a></li> -->
          <p><a href="/">HOME</a></p>
          <p><a href="about">ABOUT</a></p>
          <p><a href="search">SEARCH</a></p>
          <p><a href="addOutfit">ADD NEW OUTFIT</a></p>
          <p><a href="list">LIST OUTFITS</a></p>
          <p><a href="sale">SALE</a></p>
          <p><a href="register">REGISTER</a></p>
          <p><a href="eliminateuser">Eliminate User</a></p>
          <p><a href="login">LOG IN</a></p>
          <p><a href="logout">LOG OUT</a></p>
          <p><a href="checkPrice">Check Price</a></p>
          <p><a href="weather">WEATHER</a></p>
        </ul>
      </div>
    </nav>
    <div class="text-box">
      <h1>WELCOME TO OUTFITTERS</h1>
      <p>Unleash your fashion prowess with curated outfits, trendsetting looks, and endless inspiration. Elevate your
        wardrobe, embrace individuality, and join the fashion revolution. <br> Start your stylish journey now!
      </p>
      <a href="" class="visit-button"> GIVE US A VISIT </a>
    </div>
  </section>
</body>

</html>