<!doctype html>
<html>

<head>
    <title>Register for <%=shopName%>
    </title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
    <h1>Register for <%=shopName%>
    </h1>
    <form method="POST" action="/loggedin">
        <p>username: <input id="username" type="username" name="username" value="username" /></p>
        <p>password: <input id="password" type="password" name="password" value="password" /></p>
        <input type="submit" value="Login" />
    </form>
</body>

</html>