<!DOCTYPE html>
<html>

<head>
  <title>Register for <%=shopName%>
  </title>
  <link rel="stylesheet" type="text/css" href="/register.css" />
</head>

<body>
  <section class="header">
    <nav>
      <a href="/"><img src="images/logo.PNG"></a>
      <div class="nav-links">
        <ul>
          <!-- <li><a href="">HOME</a></li> -->
          <p><a href="/">HOME</a></p>
          <p><a href="about">ABOUT</a></p>
          <p><a href="search">SEARCH</a></p>
          <p><a href="addOutfit">ADD NEW OUTFIT</a></p>
          <p><a href="list">LIST OUTFITS</a></p>
          <p><a href="sale">SALE</a></p>
          <p><a href="register">REGISTER</a></p>
          <p><a href="eliminateuser">Eliminate User</a></p>
          <p><a href="login">LOG IN</a></p>
          <p><a href="logout">LOG OUT</a></p>
          <p><a href="checkPrice">Check Price</a></p>
          <p><a href="weather">WEATHER</a></p>
        </ul>
      </div>
    </nav>
  </section>
  <div class="container">
    <h1>Register for <%=shopName%>
    </h1>
    <form method="POST" action="/registered">
      <p>First name: <input id="first" type="text" name="first" /></p>
      <p>Last name: <input id="last" type="text" name="last" /></p>
      <p>Email: <input id="email" type="email" name="email" /></p>
      <p>Username: <input id="username" type="text" name="username" /></p>
      <p>Password: <input id="password" type="password" name="password" minlength="8" /></p>

      <input type="submit" value="Register" />
    </form>
  </div>
</body>

</html>