<!DOCTYPE html>
<html lang="en">

<head>
  <title>Search Results</title>
</head>

<body>
  <section class="header">
    <nav>
      <a href="/"><img src="images/logo.PNG"></a>
      <div class="nav-links">
        <ul>
          <!-- <li><a href="">HOME</a></li> -->
          <p><a href="/">HOME</a></p>
          <p><a href="about">ABOUT</a></p>
          <p><a href="search">SEARCH</a></p>
          <p><a href="addOutfit">ADD NEW OUTFIT</a></p>
          <p><a href="list">LIST OUTFITS</a></p>
          <p><a href="sale">SALE</a></p>
          <p><a href="register">REGISTER</a></p>
          <p><a href="eliminateuser">Eliminate User</a></p>
          <p><a href="login">LOG IN</a></p>
          <p><a href="logout">LOG OUT</a></p>
          <p><a href="checkPrice">Check Price</a></p>
          <p><a href="weather">WEATHER</a></p>
        </ul>
      </div>
    </nav>
  </section>
  <h1>Search Results</h1>
  <% if (results.length> 0) { %>
    <ul>
      <% results.forEach(result=> { %>
        <li>
          <strong>occasion:</strong>
          <%= result.occasion %><br>
            <strong>colour:</strong>
            <%= result.colour %>
              <strong>budget:</strong>
              <%= result.budget %>

        </li>
        <% }); %>
    </ul>
    <% } else { %>
      <p>No results found.</p>
      <% } %>
</body>

</html>