<!doctype html>
<html>

<head>
  <title>Search <%=shopName%>
  </title>
  <link rel="stylesheet" type="text/css" href="/search.css" />
</head>

<body>
  <section class="header">
    <nav>
      <a href="/"><img src="images/logo.PNG"></a>
      <div class="nav-links">
        <ul>
          <!-- <li><a href="">HOME</a></li> -->
          <p><a href="/">HOME</a></p>
          <p><a href="about">ABOUT</a></p>
          <p><a href="search">SEARCH</a></p>
          <p><a href="addOutfit">ADD NEW OUTFIT</a></p>
          <p><a href="list">LIST OUTFITS</a></p>
          <p><a href="sale">SALE</a></p>
          <p><a href="register">REGISTER</a></p>
          <p><a href="eliminateuser">Eliminate User</a></p>
          <p><a href="login">LOG IN</a></p>
          <p><a href="logout">LOG OUT</a></p>
          <p><a href="checkPrice">Check Price</a></p>
          <p><a href="weather">WEATHER</a></p>
        </ul>
      </div>
    </nav>
  </section>
  <h1>Search <%=shopName%>
  </h1>
  <form action="/search-result" method="GET">
    <p>What Outfit are you looking for?</p>
    <input id="search-box" type="text" name="keyword" placeholder="Search..." required>
    <input type="submit" value="Search">
  </form>
</body>

</html>