<!doctype html>
<html>

<head>
  <title>Search <%=shopName%>
  </title>
  <link rel="stylesheet" type="text/css" href="/search.css" />
</head>

<body>
  <h1>Search <%=shopName%>
  </h1>
  <form action="/search-result" method="GET">
    <p>What Outfit are you looking for?</p>
    <input id="search-box" type="text" name="keyword" placeholder="Search..." required>
    <input type="submit" value="Search">
  </form>
</body>

</html>