<!doctype html>
<html>

<head>
    <title>Search The Weather
    </title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <h1>Search The Weather
    </h1>
    <form action="/weather" method="POST">
        <p>Which Weather Would you like to find out</p>
        <input id="city" type="text" name="city" placeholder="Search..." required>
        <input type="submit" value="Search">
    </form>
</body>

</html>