* {
  margin: 0;
  padding: 0;
}

/* this is the background image, black t shirts in hangers */
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/outfitIMG1.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

/* this is the logo button where it takes u to home */
nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

/* all the BUTTONS */
.nav-links ul p {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul p a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-links ul p::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #36f48b;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul p:hover:after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: white;
}

.visit-button {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.visit-button:hover {
  border: 1px solid #042d16;
  background: #36f48b;
  transition: 1s;
}

/* Shopping */
.shopping {
  width: 80;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #12713d;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.shopping-col {
  flex-basis: 31%;
  background: #82d8a9;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.4s;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.shopping-col:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

}

/* small home about */
/* what is OUTFITTERS? */
.about-home {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.about-home-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.about-home-col img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(95, 105, 95, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: 30px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.4s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/* OUR PRODUCTS part */
.products {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.products-col {
  flex-basis: 30%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.products-col img {
  width: 100%;
  border-radius: 10px;
}

.products-col p {
  padding: 0;
}

.products-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/* This is for REVIEWS part */
.reviews {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.reviews-col {
  flex-basis: 45%;
  border-radius: 20px;
  margin-bottom: 5%;
  text-align: left;
  background: rgb(144, 214, 169);
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.reviews-col img {
  height: 150px;
  margin-left: 5px;
  margin-right: 15px;
  border-radius: 50%;
}

.reviews-col p {
  padding: 0;
}

.reviews-col h3 {
  margin-top: 15px;
  text-align: left;
}

/* contact area at the bottom */
.contact {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/contact-bottom-IMG.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.contact h1 {
  color: white;
  margin-bottom: 40px;
  padding: 0;
}

/* bottom of page, footer */
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 600;
}